.style {
    color: green;
    padding-left: 10px;
    padding-right: 10px;
    
}
.style:hover {
    color: red;
}
.str {
    border-color: blue;
    border-radius: 3px;
    float: left;

}
.but {
    float: right;
}
form {
    display: grid;
    grid-template-columns: 1fr 50px;
}