table {
    text-align: center;
    font-weight: bold;
}
thead {
    background-color: black;
    color: white;
}
#orange {
    background-color: orange;
}
#green {
    background-color: green;
}#blue {
    background-color: blue;
}
#yellow {
    background-color: yellow;
}
#red {
    background-color: red;
}
#purple {
    background-color: purple;
}
img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    margin: 10px;
}
tfoot {
    font-weight: normal;
}